.content {
  align-content: center;
}
.grid-item {
  height: 95%;
  overflow: scroll;
  justify-self: center;
  border-right: solid, black;
  margin-top: 5%;
}

#Matches {
  grid-column: 1;
  justify-items: center;
}

.ribbon-left {
  float: left;
  width: 20%;
  height: 25px;
  position: relative;
  text-align: center;
  border: 1px solid black;
}

.ribbon-right {
  float: right;
  width: 20%;
  height: 25px;
  position: relative;
  text-align: center;
  border: 1px solid black;
}


#Teams {
  grid-column: 2;
  align-items: center;
}

#Players {
  grid-column: 3;
  align-items: center;
}

#Matches::-webkit-scrollbar {
  display: none;
}

#Teams::-webkit-scrollbar {
  display: none;
}

#Players::-webkit-scrollbar {
  display: none;
}

.header {
  background: Wedding Veil	;
}