.grid-container {
  display: grid;
  grid-template-columns: 3;
  grid-template-rows: min-content;
  margin-top: 2%;
  margin-left: 9.8%;
  width: 80%;
  height: 95vh;
  margin-top: -80px;
  padding-top: 80px;
  display: flex;
}

.tabheaders {
  width: 100%;
  margin-top: 5%;
  margin-bottom: 5%;
  height: fit-content;
  align-items: center;
}
