.grid-container {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr !important;
  grid-template-rows: min-content !important;
  margin-top: 2%;
  margin-left: 9.8%;
  width: 80%;
  height: 85vh;
  margin-top: -80px;
  padding-top: 80px;
}

.tabheaders {
  width: 1fr;
  margin-top: 5%;
  margin-bottom: 5%;
  height: fit-content;
  justify-content: center;
  display: inherit;
}
