.App {
  text-align: center;
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/98/Rugby_Union_Pitch.png');
  background-size: 100%;
  background: Wedding Veil;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
}

.header-img {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-color: #23B14D;
  height: 80px;
  padding: 5px;
}


.App-link {
  color: #09d3ac;
}

.main-logo {
  max-height: 70px;

}

.search {
  margin-bottom: 5%;
}
